<div class="col col-12 col-md-6 col-sm-3">

  <div class="card" style="width: 18rem;" (click)="selectOffre()">
    <img src="{{offre.imagePrincipal}}" class="card-img-top" alt=""style="width: 285px ; height: 200px">
    <div class="card-body">
      <h5 class="card-title">{{offre.nom}}</h5>
      <p class="card-text">{{offre.description}}</p>
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal2"  ><i class="fa fa-plus-circle" aria-hidden="true"></i> Détails</button>&nbsp;&nbsp;
      <button  class="btn btn-warning" routerLinkActive="active" (click)="goToArtisan()"><i class="fa fa-user-circle" aria-hidden="true"></i> Artisan</button>
    </div>
  </div>

</div>
<br>


