<nav class="navbar navbar-dark" style="background-color: #2CB4CE;">
  <a class="navbar-brand" href="#">Dispo?</a>
  <div class="form-inline my-2 my-lg-0">
    <a class="nav-link" href="#">
      <span style="color: #EDC551; font-size: 18px;">
        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true">
        </i>
      </span>
    </a>
    <a class="nav-link" href="#">
      <span style="color: #EDC551; font-size: 18px;">
        <i class="fa fa-wrench fa-lg" aria-hidden="true">
        </i>
      </span>
    </a>
    <button class="btn btn-outline-secondary my-2 my-sm-0"  type="submit"><div class="signIn">Log In</div></button>
  </div>

</nav>

