<div *ngIf="artisan">
    <div>
        <label>id: </label> {{artisan.id}}
    </div>
    <div>
        <label>Nom: </label> {{artisan.name}}
    </div>
    <div>
        <label>Prénom: </label> {{artisan.surname}}
    </div>
    <div>
        <label>Adresse Mail: </label> {{artisan.email}}
    </div>
    <div>
        <label>Téléphone : </label> {{artisan.tel}}
    </div>
    Téléphone
    <div>
        <label>Gouvernerat: </label> {{artisan.gouvernerat}}
    </div>
    <div>
        <label>Délégation: </label> {{artisan.delegation}}
    </div>
    <div>
        <label>Localité: </label> {{artisan.type_service}}
    </div>



</div>