<div class="modal fade bd-example-modal-lg"  id="Modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Modal2Label" style="color: #EDC551">Détails du service :</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 style="color: #19647E"> Service : </h5>{{offre.nom}}
          <h5 style="color: #19647E"> Description :</h5> {{offre.descripton }}
          <h5 style="color: #19647E"> Prix :</h5> {{offre.prix }}
          <h5 style="color: #19647E"> Les images du service: </h5>

          <ul *ngFor="let image of offre.imagesList " class="nav navbar navbar-left d-flex d-inline-flex " >
            <li class="nav-item d-inline-flex  align-items-center mr-2" > <img src="{{image}}"  style="width: 150px ; height: 150px" > </li>
          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>





