 <div style="background-color: rgb(245, 241, 229);">
    <div class="card" style="width: 40rem;">
      <img src="../../assets//Images/artisan.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Artisan</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.</p>
        <a class="btn btn-warning" (click)="login()"><i class="fa fa-google"></i>Connect Google</a>
      </div>
    </div>
  </div>


