<header>
  <nav class="navbar navbar-dark" style="background-color: #2CB4CE;">
    <a class="navbar-brand" href="#">Dispo?</a>
    <div class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="#">
        <span style="color: #EDC551; font-size: 18px;">
          <i class="fa fa-user-circle-o fa-lg" aria-hidden="true">
          </i>
        </span>
      </a>
      <a class="nav-link" href="#">
        <span style="color: #EDC551; font-size: 18px;">
          <i class="fa fa-wrench fa-lg" aria-hidden="true">
          </i>
        </span>
      </a>
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
        <button (click)="goToArtisan()">
          <div>Artisan</div>
        </button>
        <button (click)="goToDemandeur()">
          <div>Demandeur</div>
        </button>
        <div class="signIn">Log In</div>
      </button>

    </div>

  </nav>
</header>

<router-outlet></router-outlet>



<footer class="card-footer" style="background-color: #2CB4CE;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold" style="color: #EDC551">A propos </h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: #EDC551">
        <br>
        <p style="color: #F2F2F2">
          Une plateforme web sur laquelle les artisans qui offre des services de bricolage, de réparation et de
          réhabilitation connectent et offrent leurs services à tout demandeur.
        </p>


      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-6 mb-md-0 mb-3">
        <h5 class="text-uppercase font-weight-bold" style="color: #EDC551">CONTACT</h5>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; color: #EDC551">
        <br>
        <ul class="list-unstyled" style="color: #F2F2F2">
          <li>
            <p>
              <i class="fa fa-home" aria-hidden="true"></i> Centre Urbain Nord, Tunisie</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope-o" aria-hidden="true"></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i> + 01 234 567 88</p>
          </li>

        </ul>

      </div>
    </div>
  </div>
  <hr style="color: black">
  <div class=" row d-flex align-items-center">
    <div class="col-md-7 col-lg-8">
      <p class="text-center text-md-left">
        © 2020 Copyright
      </p>
    </div>

    <div class="col-md-5 col-lg-4 ">

      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <span style="font-size: 30px; ">
            <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
          </span>
        </li>
        <li class="list-inline-item">
          <span style=" font-size: 30px; ">
            <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
          </span>
        </li>
        <li class="list-inline-item">
          <span style=" font-size: 30px; ">
            <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</footer>