<div>
    <div class="container profile" style="background-color: rgb(245, 241, 229);">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{artisan?.photoURL}}">
                        <div class="file btn btn-lg btn-primary" *ngIf="myProfil()">
                            Change Photo
                            <input type="file" name="file" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5> {{ artisan?.displayName }}</h5>
                        <h6>{{ artisan?.email }}</h6>

                    </div>
                </div>
                <div class="col-md-2" *ngIf="myProfil()">
                    <button type="submit" class="btn btn-warning">Modifer Profile</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Numéro de Telephone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{artisan?.telNumber}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Delegation</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{artisan?.delegation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Localité</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{artisan?.localite}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gouvernerat</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{artisan?.gouvernerat}}</p>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row" *ngIf="myProfil()">
                <div class="col-md"></div>
                <div class="col-md">
                    <button type="submit" (click)="ajouterOffre()" class="btn btn-warning">Ajouter offre</button>
                </div>

                <div class="col-md"></div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="loggedAsdemandeur()">
  <form #formulaire='ngForm'>
    <label for="avis">Donner votre avis : </label>
    <input id="avis" type="text"  ngModel name="avis"/>
    <button type="submit" (click)="donneravis(formulaire)" class="btn btn-warning">Commenter</button>

  </form>
</div>
<div>
  <app-avis [avisTab]="avisTab" ></app-avis>
</div>



