<div *ngIf="auth.demandeur | async; then authenticated else guest">
    <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
    <h3>Howdy, GUEST</h3>
    <p>Login to get started...</p>

    <button (click)="auth.googleLogin()">
        <i class="fa fa-google"></i> Connect Google
    </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
    <div *ngIf="auth.demandeur | async as demandeur">
        <h3> {{ demandeur.displayName }}</h3>
        <img [src]="demandeur.photoURL">


        <button (click)="auth.signOut()">Logout</button>
    </div>
</ng-template>