<div>
    <div class="container profile"
        style="background-color: #fff; border-radius:10px ; border-color: #2CB4CE ; border-style: ridge ;">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{demandeur?.photoURL}}">
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5> {{ demandeur?.displayName }}</h5>
                    <h6>{{ demandeur?.email }}</h6>
                </div>
            </div>

        </div>
    </div>
</div>