<div class="row" style="background-color: #fff; border-radius:5px ; border-color: #19647E ; margin: 1em; ">
  <div class="col-md"></div>
  <div class="col-md">
    <div class="card" style="width: 40rem;">
      <img src="../../assets//Images/demandeur.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title" style="color: #19647E; text-align: center;">Demandeur</h4>
        <p class="card-text" style="color: #19647E; text-align: center;"> <b>Êtes vous
            à la recherche d'un service de
            bricolage, de réparation ou de réhabilitation ?
          </b></p>
        <a class=" btn btn-warning" (click)="login()" style="margin-left: 15em;"><i class="fa fa-google"></i>Connect
          Google</a>
      </div>
    </div>
  </div>
  <div class="col-md"></div>
</div>